.pink-background {
    background-color: rgb(249, 140, 158); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 150%;
}
#second {
    color: blue; font-size: 300%;
}
.pink-background.third {
    font-size: 200%; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#fourth {
background-color: rgb(111, 249, 111); font-weight: bold; font-size: 200%;
}